{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "lines-between-class-members": "off",
    "no-shadow": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": 0,
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
